.call{
    margin: 100px auto;
    width: 80%;
    
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding: 100px 0;
  
  }
  
  .call h1{
    color: #fff;
    margin-bottom: 40px;
    padding: auto;
  }
  @media (max-width:700px){
    .call h1{
      font-size: 24px;
    }
  }
  